<%- include('../partials/header.ejs') %>
<%- include('../partials/navigation.ejs', { nav: nav }) %>

<h1><%= title %></h1>

<% if (messages && messages.notice) { %>
    <div class="flash-messages">
        <% messages.notice.forEach(function(message) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% }) %>
    </div>
<% } %>

<form action="/account/register" method="post">
    <!-- Registration form fields -->
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword">
    </div>
    <button type="submit">Register</button>
</form>

<%- include('../partials/footer.ejs') %>
